body{
    display: flex;
    justify-content: center;
    color: #444;
}

#container{
    width: 70%;
    text-align: center;
    border: 0.5px solid #999;
    /* border-radius: 10px; */
    margin: 3em;
    font-family: "Arial";
}

#cabecera{
    background: blueviolet;
    color: white;
    font-size: 13px;
    padding: 5px;
}

#cabecera h1{
    margin: 0;
}

#post h1{
    font-size: 2em;
}

#post p{
    font-size: 1.3em;
}

